# Conexão Oficial ao PostgreSQL do Supabase (Pooler 6543)
DATABASE_URL=postgresql://postgres.hqarnqqrxigfyfsmorea:bd86266049paulo@aws-0-us-west-1.pooler.supabase.com:6543/postgres

# Parâmetros Individuais para Supabase
DB_HOST=aws-0-us-west-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.hqarnqqrxigfyfsmorea
DB_PASSWORD=bd86266049paulo
DB_NAME=postgres
DB_SSL=true

# Porta do Servidor Local
PORT=3000

# Chave JWT de Sessão
JWT_SECRET=nexus_secret_key_86266049

# Supabase Client Config
SUPABASE_URL=https://hqarnqqrxigfyfsmorea.supabase.co
SUPABASE_ANON_KEY=sb_publishable_y2DzQelWndB4njMRtoAuAw_9LuX9fjA
NEXT_PUBLIC_SUPABASE_URL=https://hqarnqqrxigfyfsmorea.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_y2DzQelWndB4njMRtoAuAw_9LuX9fjA
